<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12">
            <div style="height:490px;">
                <h1>CALENDAR</h1>
                <h2>
                    %%何月%%<br />
                    %%何日%% ~~ %%何日%%
                </h2>
                
                暇時間一覧
                <table class="table table-hover">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>%%日程%%</td>
                            <td>%%開始時間%%</td>
                            <td>%%終了時間%%</td>
                            <td>edit / destroy</td>
                        </tr>
                        <tr>
                            <td>%%日程%%</td>
                            <td>%%開始時間%%</td>
                            <td>%%終了時間%%</td>
                            <td>edit / destroy</td>
                        </tr>
                        <tr>
                            <td>%%日程%%</td>
                            <td>%%開始時間%%</td>
                            <td>%%終了時間%%</td>
                            <td>edit / destroy</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
            
            
            <div style="height:230px; background-color:#aaa; border-radius:15px; padding:15px;">
                新規作成・編集フォーム
                ここにformが来るようにしましょう。
            </div>


        </div>
        <div class="col-sm-4 col-md-4 col-xs-12" style="height:800px;">
            <div style="height:200px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通知</h3>
                    </div>
                    <div class="panel-body" style="height:100px;">
                        %%ここに出力%%
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">予定一覧</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">詳細</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        日時<br />
                        %%ここに出力%%<br />
                        場所<br />
                        %%ここに出力%%<br />
                        メモ<br />
                        %%ここに出力%%<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
