<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12" style="height:800px; background-color:#ccc; border-radius:15px; padding:15px;">
            <h1>calendar部分</h1>
            <h2>ここで、できること</h2>
            <ul>
                <li>「空き時間」の入力</li>
                <li>「空き時間」の確認</li>
                <li>「空き時間」の編集</li>
                <li>「空き時間」の削除</li>
            </ul>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12" style="height:800px;">
            <div style="height:200px;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通知</h3>
                    </div>
                    <div class="panel-body" style="height:100px;">
                        %%ここに出力%%
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">予定一覧</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                        <li>%%ここに出力%%</li>
                    </div>
                </div>
            </div>
            <div style="height:300px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">詳細</h3>
                    </div>
                    <div class="panel-body" style="height:200px;">
                        日時<br />
                        %%ここに出力%%<br />
                        場所<br />
                        %%ここに出力%%<br />
                        メモ<br />
                        %%ここに出力%%<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
