
<%= form_for(@schedule) do |f| %>
  <div class="row">
    <div class="col-sm-12">
  開始時間:
      <%= f.text_field :starting_time, class: 'form-control datetime' %>
    </div>
  </div>
  <div class="row">
        <div class="col-sm-12">
  終了時間:
      <%= f.text_field :end_time, class: 'form-control datetime' %>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
